body{
  background: linear-gradient(90deg,#194d33,#388e3c,#388e3c 100%) !important;
}
h1{
  text-align: center;
  color: rgb(255, 255, 255);
}

#drum-machine{
  border: 2px solid #1f0700;
  border-radius: 15px;
  margin-top:15%;
  max-width: 75%;
  margin-left:auto;
  margin-right:auto;
  background: linear-gradient(90deg,#ff6f00,#ffa000,#ffc107 100%);
}


.drum-pad{
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
}

.drum-pad:hover{
  cursor: pointer;
}


#clip-id{
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  width:20%;

}

.slider{
  border:2px solid black;
}

.option{
  margin: 10px;
}

